.header .header-menu {
  position: sticky;
  z-index: 99;
  top: 0;
  background: #0074bc; }
.header .is-sticky {
  width: 100%;
  position: fixed;
  background: #0074bc;
  animation: slideDown 0.35s ease-out; }
.header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 12px;
  color: #fff; }
  @media (max-width: 991px) {
    .header .header-nav {
      justify-content: center; }
      .header .header-nav .navbar {
        display: none !important; } }
  .header .header-nav a {
    color: #fff; }
.header .header-contact {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1; }
  .header .header-contact li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 6px; }
    .header .header-contact li i {
      margin-right: 4px;
      font-size: 16px;
      vertical-align: text-bottom; }
    .header .header-contact li:last-child {
      border: 0; }
.header .header-social-icons i {
  margin-left: 4px;
  font-size: 16px;
  vertical-align: text-bottom; }

@keyframes slideDown {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }
.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px; }

.title span {
  color: #fff; }

.sub-title {
  margin: 0 auto 20px;
  text-align: center;
  color: #fff; }

.section1 {
  text-align: center;
  position: relative;
  overflow: hidden; }

.list-item {
  color: #fafaff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 50px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center; }

.list-item .item {
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(45deg, #5472f6 0%, #dd3ef0 100%);
  position: relative;
  padding: 8px 32px 40px; }

.list-item .item::before {
  content: "";
  background: #25223e;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  position: absolute;
  border-radius: 25px;
  z-index: 2; }

.list-item .item * {
  position: relative;
  z-index: 2; }

.list-item .item .item-top {
  margin-bottom: 10px; }

.list-item .item .item-bottom h3 {
  font-size: 1.6em;
  max-width: 390px;
  margin: 0 auto 10px;
  font-weight: bold; }

.list-item .item .item-bottom p {
  letter-spacing: -0.05em;
  line-height: 24px;
  max-width: 376px; }

.list-item .btn-white {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  width: 56px;
  height: 34px;
  position: absolute;
  bottom: -16px; }

.social-media {
  width: 49px;
  text-align: center;
  position: fixed;
  right: 0;
  top: 225px;
  z-index: 98;
  padding: 12px 0; }

.social-media a {
  width: 49px;
  height: 49px;
  border-radius: 10px 0px 0px 10px;
  margin: 1px 0;
  background: linear-gradient(45deg, rgba(84, 114, 246, 0.1) 0%, rgba(221, 62, 240, 0.1) 100%);
  display: inline-block; }

.list-item__3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 35px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center; }

.list-item__3-column .item {
  padding: 20px 20px 48px;
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  border: 1px solid #ffffff;
  border-radius: 25px;
  position: relative; }

.list-item__3-column .item h3 {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 10px; }

.list-item__3-column .item p {
  font-weight: 400;
  line-height: 24px; }

.btn-view {
  background: #ffffff;
  border-radius: 10px;
  line-height: 24px;
  padding: 5px 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px; }

.btn-view span {
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.section2 {
  background: #e8e8e8;
  padding: 30px 0; }
  .section2 .card-group {
    gap: 30px; }
  .section2 .card {
    text-align: center;
    padding: 10px; }
  .section2 .card-body {
    padding: 0; }
    .section2 .card-body ul {
      padding-left: 20px; }

.section3 {
  padding-top: 50px;
  padding-bottom: 140px; }

.section4 {
  background-image: url(../images/bg-banner.png);
  padding: 56px 0 130px;
  background-position: center;
  background-size: cover; }
  .section4 .sub-title {
    margin-bottom: 56px; }

.section3::before {
  display: none; }

.section3 .icon-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  z-index: -1;
  margin-left: 25px; }

.footer {
  position: relative;
  overflow: hidden;
  background: #1C1C1C;
  color: #fff;
  padding-top: 30px; }
  .footer .widget-title {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase; }
  .footer .is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
    background-color: rgba(255, 255, 255, 0.3); }
  .footer ul {
    padding: 0;
    list-style: none; }
    .footer ul li {
      margin-bottom: 10px; }
    .footer ul li.bullet-arrow {
      padding: 7px 0 7px 15px;
      margin: 0;
      border-bottom: 0.5px solid #ececec;
      position: relative; }
      .footer ul li.bullet-arrow:before {
        font-family: 'FONTAWESOME';
        left: 0;
        position: absolute;
        font-size: 16px;
        color: #7a9c59;
        content: "\f105"; }
  .footer .social-icons {
    color: #FFF;
    font-size: .85em;
    display: flex;
    align-items: center;
    gap: 4px; }
    .footer .social-icons a.icon.button {
      border: 2px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      color: #fff;
      padding: 2px;
      font-size: 16px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      .footer .social-icons a.icon.button:hover {
        border-color: transparent; }
    .footer .social-icons .button.facebook:not(.is-outline),
    .footer .social-icons .button.facebook:hover {
      background-color: #3a589d !important; }
    .footer .social-icons .button.instagram:not(.is-outline),
    .footer .social-icons .button.instagram:hover {
      background-color: #3b6994 !important; }
    .footer .social-icons .button.whatsapp:not(.is-outline),
    .footer .social-icons .button.whatsapp:hover {
      background-color: #51cb5a !important; }
    .footer .social-icons .button.twitter:not(.is-outline),
    .footer .social-icons .button.twitter:hover {
      background-color: #2478ba !important; }
    .footer .social-icons .button.email:not(.is-outline),
    .footer .social-icons .button.email:hover {
      background-color: #111 !important; }
    .footer .social-icons .button.phone:not(.is-outline),
    .footer .social-icons .button.phone:hover {
      background-color: #51cb5a !important; }
    .footer .social-icons .button.pinterest:not(.is-outline),
    .footer .social-icons .button.pinterest:hover {
      background-color: #cb2320 !important; }
    .footer .social-icons .button.rss:not(.is-outline),
    .footer .social-icons .button.rss:hover {
      background-color: #fc7600 !important; }
    .footer .social-icons .button.tumblr:not(.is-outline),
    .footer .social-icons .button.tumblr:hover {
      background-color: #36455d !important; }
    .footer .social-icons .button.vk:not(.is-outline),
    .footer .social-icons .button.vk:hover {
      background-color: #527498 !important; }
    .footer .social-icons .button.google-plus:not(.is-outline),
    .footer .social-icons .button.google-plus:hover {
      background-color: #dd4e31 !important; }
    .footer .social-icons .button.linkedin:not(.is-outline),
    .footer .social-icons .button.linkedin:hover {
      background-color: #0072b7 !important; }
  .footer .copyright {
    font-weight: 400;
    font-size: .9em;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 0 30px; }
    @media (max-width: 767px) {
      .footer .copyright {
        flex-flow: column; } }

.list-item__footer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 30px; }
  @media (max-width: 767px) {
    .list-item__footer {
      grid-template-columns: repeat(1, 1fr); } }

.list-item__footer p {
  line-height: 24px;
  margin-bottom: 20px; }

.navbar-toggler i {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8); }

.navbar-nav li.nav-item {
  padding: 0 6px; }
.navbar-nav .dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 15px;
  color: #777777;
  background-color: white;
  border-color: #dddddd;
  border-radius: 0;
  padding: 10px 20px;
  min-width: 230px; }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(102, 102, 102, 0.85);
    font-size: 16px;
    padding: 10px 0 !important;
    border-bottom: 1px solid #ececec;
    white-space: normal; }
    .navbar-nav .dropdown-menu .dropdown-item:last-child {
      border: 0; }
    .navbar-nav .dropdown-menu .dropdown-item:hover {
      color: rgba(17, 17, 17, 0.85);
      background-color: transparent; }
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  position: relative;
  padding: 0;
  padding-left: 15px !important; }
  .navbar-nav .nav-link:hover {
    color: #fff; }
  .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 15px;
    margin-top: -7px;
    left: 0; }

.btn-primary {
  color: #fff;
  background-color: #e17a01;
  border-color: #e17a01; }

.text-primary {
  color: #e17a01 !important; }

.search-form .form-inline {
  display: flex;
  flex-flow: row;
  padding: 5px 15px; }
  .search-form .form-inline .form-control {
    display: flex; }
.search-form .btn-search {
  background: #e17a01;
  color: #fff; }
.search-form .search-toggle {
  background: #e17a01;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; }
  .search-form .search-toggle::after {
    display: none; }

.carousel .btn-control {
  width: 36px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
  border: 2px solid;
  font-weight: 100;
  padding: 8px;
  border-radius: 50%; }
  .carousel .btn-control:hover {
    background: #e17a01;
    border-color: #e17a01; }
.carousel .carousel-item:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }
.carousel .carousel-indicators {
  bottom: 20px; }
  .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 6px; }
.carousel img {
  max-height: 485px;
  object-position: top;
  object-fit: cover; }

.carousel-caption {
  color: #fff;
  text-align: left;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  max-width: 670px; }
  .carousel-caption h3 {
    margin: 0; }
  .carousel-caption p {
    color: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 1em; }

.btn-outline {
  border: 2px solid #e17a01;
  background-color: transparent;
  line-height: 2.19em;
  text-transform: uppercase;
  font-weight: bold;
  color: #e17a01;
  border-radius: 0;
  padding: 0 18px; }
  .btn-outline:hover, .btn-outline:focus {
    background-color: #e17a01;
    color: #fff; }

.card1 {
  background-color: #004e9e;
  padding: 15px 15px 15px 15px;
  color: #fff;
  border-radius: 20px;
  text-align: center; }
  .card1 .box-img img {
    height: 159px;
    margin: 0 auto 20px;
    object-fit: contain; }
  .card1 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .card1.card2 {
    background-color: #00a292; }
  .card1.card3 {
    background-color: #e17a01; }

.container {
  max-width: 1272px !important; }

@media (max-width: 991px) {
  .navbar-brand {
    text-align: center;
    margin: 0 auto; }

  .offcanvas.offcanvas-start {
    background-color: #f3f3f3;
    transition: transform 0.2s;
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 5000;
    width: 260px !important; }
    .offcanvas.offcanvas-start .navbar-nav {
      margin-left: 0 !important; }
      .offcanvas.offcanvas-start .navbar-nav .search-form {
        padding: 0; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .search-toggle {
          display: none; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .dropdown-menu {
          display: block;
          padding: 0; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .form-inline {
          display: flex;
          flex-flow: row;
          padding: 0;
          padding: 40px 15px 0 0 !important;
          margin: 0 !important; }
          .offcanvas.offcanvas-start .navbar-nav .search-form .form-inline .form-control {
            width: 100%; }
      .offcanvas.offcanvas-start .navbar-nav li.nav-item {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #ececec;
        width: 100%;
        padding-left: 20px; }
      .offcanvas.offcanvas-start .navbar-nav .nav-link {
        color: rgba(102, 102, 102, 0.85);
        font-size: 15px;
        padding: 0 !important; }
      .offcanvas.offcanvas-start .navbar-nav .dropdown-menu {
        width: 100%;
        border-width: 0;
        background: transparent;
        box-shadow: none;
        padding: 0 15px; } }
.section5 {
  background: #e8e8e8;
  padding: 30px 0; }
  .section5 .card {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 0;
    margin-bottom: 30px;
    border-radius: 0; }
    .section5 .card .card-body {
      padding: 23px 10px 10px 11px; }
      .section5 .card .card-body .post-title {
        font-size: 14px;
        color: #555;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 0; }
      .section5 .card .card-body .post-meta {
        font-size: 10px; }
      .section5 .card .card-body .op-8 {
        opacity: .8; }
      .section5 .card .card-body .from_the_blog_excerpt {
        margin-top: .1em;
        margin-bottom: .1em;
        font-size: 13px;
        line-height: 22px; }
      .section5 .card .card-body .is-divider {
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 1em 0 1em;
        width: 100%;
        max-width: 30px;
        margin-top: .5em;
        margin-bottom: .5em;
        height: 2px; }

.section6 {
  padding-bottom: 30px; }
  .section6 h2 {
    border-bottom: 3px solid #dd9000;
    padding-bottom: 16px;
    margin-bottom: 16px; }
  .section6 .item-content {
    padding: 15px; }
    .section6 .item-content img {
      height: 100px;
      object-fit: contain; }
  .section6 .owl-theme .owl-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .section6 .owl-theme .owl-nav .owl-prev {
      -ms-transform: translateX(20%);
      transform: translateX(20%);
      left: 2%; }
    .section6 .owl-theme .owl-nav .owl-next {
      -ms-transform: translateX(-20%);
      transform: translateX(-20%);
      right: 2%; }
    .section6 .owl-theme .owl-nav [class*="owl-"] {
      width: 36px;
      height: 36px;
      margin: 0;
      border: 2px solid rgba(0, 0, 0, 0.01);
      font-weight: 100;
      padding: 8px;
      border-radius: 50%;
      background: transparent;
      color: rgba(0, 0, 0, 0.02);
      font-size: 24px;
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s, background 0.3s, box-shadow 0.3s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .section6 .owl-theme .owl-nav [class*="owl-"]:hover {
        background: #e17a01;
        border-color: #e17a01;
        opacity: 1; }

/*# sourceMappingURL=style.css.map */
