.header {
  .header-menu {
    position: sticky;
    z-index: 99;
    top: 0;
    background: #fff;
    padding: 14px 0px 11px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  }

  .is-sticky {
    width: 100%;
    position: fixed;
    background: #fff;
    animation: slideDown 0.35s ease-out;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    color: #fff;

    @media (max-width: 991px) {
      .navbar {
        display: none !important;
      }

      justify-content: center;
    }

    a {
      color: #fff;
    }
  }

  .header-contact {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;

    li {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0 6px;

      i {
        margin-right: 4px;
        font-size: 16px;
        vertical-align: text-bottom;
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .header-social-icons {
    i {
      margin-left: 4px;
      font-size: 16px;
      vertical-align: text-bottom;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.title span {
  color: #fff;
}

.sub-title {
  margin: 0 auto 20px;
  text-align: center;
  color: #fff;
}

.section1 {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.list-item {
  color: #fafaff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 50px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.list-item .item {
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(45deg, #5472f6 0%, #dd3ef0 100%);
  position: relative;
  padding: 8px 32px 40px;
}

.list-item .item::before {
  content: "";
  background: #25223e;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  position: absolute;
  border-radius: 25px;
  z-index: 2;
}

.list-item .item * {
  position: relative;
  z-index: 2;
}

.list-item .item .item-top {
  margin-bottom: 10px;
}

.list-item .item .item-bottom h3 {
  font-size: 1.6em;
  max-width: 390px;
  margin: 0 auto 10px;
  font-weight: bold;
}

.list-item .item .item-bottom p {
  letter-spacing: -0.05em;
  line-height: 24px;
  max-width: 376px;
}

.list-item .btn-white {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  width: 56px;
  height: 34px;
  position: absolute;
  bottom: -16px;
}

.social-media {
  width: 49px;
  text-align: center;
  position: fixed;
  right: 0;
  top: 225px;
  z-index: 98;
  padding: 12px 0;
}

.social-media a {
  width: 49px;
  height: 49px;
  border-radius: 10px 0px 0px 10px;
  margin: 1px 0;
  background: linear-gradient(
    45deg,
    rgba(84, 114, 246, 0.1) 0%,
    rgba(221, 62, 240, 0.1) 100%
  );
  display: inline-block;
}

.list-item__3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 35px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.list-item__3-column .item {
  padding: 20px 20px 48px;
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  border: 1px solid #ffffff;
  border-radius: 25px;
  position: relative;
}

.list-item__3-column .item h3 {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
}

.list-item__3-column .item p {
  font-weight: 400;
  line-height: 24px;
}

.btn-view {
  background: #ffffff;
  border-radius: 10px;
  line-height: 24px;
  padding: 5px 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;
}

.btn-view span {
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.triangled_colored_separator {
  position: relative;
  width: 40px;
  height: 3px;
  margin: 0 auto;
  background-color: #dd3333;

  .triangle {
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #dd3333;
  }
}

.section2 {
  position: relative;
  margin-top: -80px;
  @media (max-width: 991px) {
    margin-top: 30px;
  }

  .card {
    position: relative;
    top: 0;
    padding: 30px 32px;
    text-align: left;
    background: #dd3333;
    color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s cubic-bezier(0, 0.01, 0.27, 1);

    &.red-bg {
      background: #dd0000;
    }

    &:hover {
      transition: all 0.3s cubic-bezier(0, 0.01, 0.27, 1);
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
      top: -25px;

      p {
        opacity: 1;
      }
    }

    .fa {
      font-size: 50px;
    }

    h2 {
      line-height: 18px;
      font-weight: 700;
      font-size: 18px;
      font-family: "Montserrat";
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      opacity: 0.6;
    }
  }

  .card-body {
    padding: 0;

    ul {
      padding-left: 20px;
    }
  }
}

.section3 {
  padding-top: 32px;
  padding-bottom: 50px;
  background: #eeeeee;
  margin-top: 32px;

  .col-in-left {
    background: url(../images/bg-banner.png) no-repeat;

    img {
      margin-top: 35px;
    }

    padding-top: 45px;

    .card {
      background: transparent;
    }
  }

  .col-in-right {
    background: #fff;
    padding-bottom: 50px;
    padding-top: 20px;

    .icon_box {
      position: relative;
      top: 0;
      padding: 30px 32px 0;
      display: flex;
      align-items: flex-start;
      gap: 50px;
      @media (max-width: 991px) {
        gap: 30px;
      }
      h3 {
        line-height: 18px;
        font-weight: 700;
        font-size: 18px;
        margin: 0 0 8px;
      }
    }

    .icon_box .fa {
      font-size: 50px;
      color: #dd3333;
      width: 50px;
    }

    .icon_box p {
      margin-bottom: 10px;
      opacity: 0.6;
    }
  }
}

.section4 {
  padding: 65px 0 90px;
  h2 {
    border-top: 1px solid #ebebeb;
    padding-top: 35px;
  }
  .sub-title {
    margin-bottom: 56px;
  }
  .col-in-right {
    background: url(../images/bg-banner.png) no-repeat;
    padding-top: 40px;
    background-position-x: -277px;
    background-size: cover;
    .icon_box {
      position: relative;
      top: 0;
      padding: 10px 32px;
      display: flex;
      align-items: flex-start;
      gap: 25px;

      h3 {
        line-height: 18px;
        font-weight: 700;
        font-size: 18px;
        margin: 0 0 8px;
      }
    }

    .icon_box .fa {
      font-size: 35px;
      color: #dd3333;
      width: 35px;
      &.fa-star {
        color: #ffa800;
      }
    }

    .icon_box p {
      margin-bottom: 10px;
      opacity: 0.6;
    }
  }
}

.section3::before {
  display: none;
}

.section3 .icon-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  z-index: -1;
  margin-left: 25px;
}

.footer {
  background-color: #414b4f;
  color: #fff;
  padding: 64px 0;
  position: relative;
  overflow: hidden;
  h3,
  h2 {
    line-height: 18px;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 25px;
    color: #fff;
  }
  ul,
  li {
    padding: 0;
    list-style: none;
    font-size: 13px;
    overflow: hidden;
    color: #fff;
  }
  .widget_contacts {
    li {
      margin-bottom: 12px;
      a {
        color: #dd3333;
      }
    }
    .icon {
      float: left;
      margin-right: 23px;
      color: #aaa;
      font-size: 16px;
      i {
        font-size: 20px;
        width: 20px;
      }
    }
  }
  .widget_list {
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
    font-family: "Montserrat";
    li {
      padding: 5px 0;
      &:first-child {
        padding-top: 0;
      }
    }
    a {
      color: #fff;
      margin-left: 10px;
      &:hover {
        color: #dd3333;
      }
    }
  }
  .widget_social {
    a {
      display: inline-flex;
      width: 45px;
      height: 45px;
      background-color: #dd3333;
      text-align: center;
      font-weight: 700;
      border-radius: 50%;
      font-size: 20px;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    a.facebook {
      background-color: #3b5998 !important;
    }
  }
}

.navbar-toggler i {
  font-size: 32px;
  color: #dd3333;
}

.navbar-nav {
  li.nav-item {
    padding: 0 14px 14px 14px;

    &.current {
      a.nav-link {
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 0px;
          height: 0px;
          z-index: 10;
          bottom: -16px;
          left: 50%;
          transform: translateX(-50%);
          border-style: solid;
          border-width: 0px 3px 3px;
          border-color: transparent transparent #dd3333;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          margin-bottom: -9px;
          bottom: -10px;
          height: 3px;
          background-color: #dd3333;
          z-index: 18;
          border: 0;
        }
      }
    }
  }

  .dropdown-menu {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #777777;
    background-color: white;
    border-color: #dddddd;
    border-radius: 0;
    padding: 10px;
    min-width: 220px;
    border: 0;
    border-top: 3px solid #dd3333;

    .dropdown-item {
      font-size: 13px;
      font-weight: 400;
      z-index: 15;
      color: #000;
      text-transform: uppercase;
      font-family: "Montserrat";
      margin-bottom: 5px;

      &:last-child {
        border: 0;
      }

      &:hover {
        color: #dd3333;
        background-color: transparent;
      }
    }
  }

  .nav-link {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 0;
    font-family: Montserrat;
  }
}

.btn-primary {
  color: #fff;
  background-color: #dd3333;
  border-color: #dd3333;
}

.text-primary {
  color: #dd3333 !important;
}

.search-form {
  .dropdown-menu {
    right: 0;
    left: auto;
  }

  .form-inline {
    display: flex;
    flex-flow: row;
    padding: 5px 15px;

    .form-control {
      display: flex;
    }
  }

  .btn-search {
    background: #dd3333;
    color: #fff;
  }

  .search-toggle {
    background: #fff;
    width: 36px;
    height: 36px;
    color: #dd3333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border: 3px solid #dd3333;

    &::after {
      display: none;
    }
  }
}

.carousel {
  .btn-control {
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 40px;
    border: 2px solid;
    font-weight: 100;
    padding: 8px;
    border-radius: 50%;

    &:hover {
      background: #dd3333;
      border-color: #dd3333;
    }
  }

  .carousel-indicators {
    bottom: 20px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 6px;
    }
  }

  img {
    max-height: 494px;
    object-position: top;
    object-fit: cover;
  }
}

.carousel-caption {
  color: #fff;
  text-align: left;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  max-width: 670px;

  h3 {
    margin: 0;
  }

  p {
    color: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.btn-outline {
  border: 2px solid #dd3333;
  background-color: transparent;
  line-height: 2.19em;
  text-transform: uppercase;
  font-weight: bold;
  color: #dd3333;
  border-radius: 0;
  padding: 0 18px;

  &:hover,
  &:focus {
    background-color: #dd3333;
    color: #fff;
  }
}

.container {
  max-width: 1200px !important;
}

@media (max-width: 991px) {
  .offcanvas.offcanvas-start {
    background-color: #fff;
    transition: transform 0.2s;
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 5000;
    width: 260px !important;

    .navbar-nav {
      margin-left: 0 !important;

      .search-form {
        padding: 0;

        .search-toggle {
          display: none;
        }

        .dropdown-menu {
          display: block;
          padding: 0;
        }

        .form-inline {
          display: flex;
          flex-flow: row;
          padding: 0;
          padding: 40px 15px 0 0 !important;
          margin: 0 !important;

          .form-control {
            width: 100%;
          }
        }
      }

      li.nav-item {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #ececec;
        width: 100%;
        padding-left: 20px;
      }

      .nav-link {
        font-size: 16px;

        &:hover {
          color: #dd3333;
        }

        &::after,
        &::before {
          display: none !important;
        }
      }
      .current{
        .nav-link{
          color: #dd3333;
        }
      }

      .dropdown-menu {
        width: 100%;
        border-width: 0;
        background: transparent;
        box-shadow: none;
        padding: 0 15px;
      }
    }
  }
}

.section6 {
  padding-bottom: 100px;
  h2 {
    border-top: 2px #f4524d dashed;
    padding-top: 35px;
  }
  .card {
    border: 0;
    display: block;
    text-align: center;
  }
  .vc_btn3 {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0,
      rgba(255, 255, 255, 0.01) 100%
    );
    background-repeat: repeat-x;
    color: #fff;
    border-color: #5472d2;
    background-color: #5472d2;
    margin-top: 35px;
    &.vc_btn3-color-danger {
      color: #fff;
      border-color: #ff675b;
      background-color: #ff675b;
    }
  }
}
.section5 {
  padding-bottom: 70px;
  h2 {
    margin-bottom: 30px;
    font-size: 37px;
    color: #dd3333;
    line-height: 48px;
    font-weight: bold;
  }
}
.section7 {
  position: relative;
  .owl-carousel {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .owl-nav {
      margin-top: 0;
      position: absolute;
      top: -82px;
      right: 0;
    }
  }
  h2 {
    line-height: 32px;
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 18px;
    margin-bottom: 30px;
    @media (max-width: 670px) {
      padding-bottom: 60px;
    }
  }
  .testimonial-media-unit .testimonial-media-unit-rounded {
    border-radius: 50%;
    max-width: inherit;
    height: inherit;
  }

  .testimonials_main_wrapper .testimonial_sphere {
    color: #aaa;
    font-size: 12px;
  }

  .testimonials_main_wrapper .testimonials-inner-title {
    margin: 8px 0 4px;
  }

  .testimonials_main_wrapper {
    margin-top: 10px;
    .short_separator {
      margin: 10px 0 23px;
    }
  }

  .testimonial_inner_wrapper:hover .testimonial_inner_content p {
    color: #555;
  }
  h4 {
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
  }
  .short_separator {
    width: 31px;
    height: 3px;
    margin: 15px 0;
    background-color: #dd3333;
  }
  .testimonial_inner_wrapper .media-left {
    min-width: 84px;
    padding-right: 15px;
    img {
      border-radius: 50%;
    }
  }
}
.owl-theme .owl-nav {
  .owl-prev {
    &::after {
      right: -100%;
    }
    &:hover:after {
      right: 0;
    }
  }

  .owl-next {
    &::after {
      left: -100%;
    }
    &:hover:after {
      left: 0;
    }
  }

  [class*="owl-"] {
    position: relative;
    width: 35px;
    height: 36px;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
    color: #dd3333 !important;
    border: 2px solid #dd3333 !important;
    background-color: #fff;
    text-decoration: none !important;
    overflow: hidden;
    margin: -1px !important;
    border-radius: 0 !important;
    transition: all 0.25s ease;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      background-color: #dd3333;
      transition: all 0.25s ease;
    }
    span {
      font-size: 30px;
    }

    &:hover {
      background: #dd3333 !important;
      border-color: #dd3333 !important;
      transition: all 0.25s ease;
      opacity: 1;
      color: #fff !important;
    }
  }
}
.section8 {
  background: #dd3333;
  padding-top: 65px;
  .triangled_colored_separator {
    background-color: #fff;
    .triangle {
      border-bottom-color: #fff;
    }
  }
  .stm_sign_up_now {
    padding: 0 31px;
    @media (max-width: 1080px) {
      padding: 0;
    }
  }

  .stm_sign_up_now .stm_sign_up_now_inner {
    padding: 32px 67px 32px;
    @media (max-width: 991px) {
      padding: 30px;
    }
    position: relative;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
  }

  .stm_sign_up_now .stm_sign_up_now_inner h2 {
    margin: 0 0 25px;
    word-spacing: 1px;
    line-height: 32px;
    font-weight: 700;
    font-size: 32px;
    color: #333333;
  }

  .stm_sign_up_now .wpcf7-form .form-group {
    margin-bottom: 15px;
  }

  .stm_sign_up_now .form-control {
    text-align: center;
    height: 47px;
    line-height: 47px;
    font-size: 13px;
    color: #aaa;
  }

  .stm_sign_up_now .form-control:focus {
    color: #555;
    font-size: 16px;
    font-weight: 700;
  }

  .stm_sign_up_now input[type="submit"] {
    margin: 6px auto 0;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    background: #dd3333;
    border: 0;
    line-height: 1;
    padding: 0;
    min-height: 39px;
    display: inline-block;
    max-width: 156px;
    height: auto;
  }
  .stm_sign_up_now {
    p {
      margin-bottom: 10px;
    }
    .label,
    label {
      padding: 0;
      margin: 0 0 1px;
      color: #aaa;
      font-weight: 400;
      display: block;
    }
    input {
      display: block;
      padding: 6px 12px;
      height: 45px;
      line-height: 1.42857143;
      border-radius: 0;
      border: 2px solid #f0f2f5;
      background: #f0f2f5;
      box-shadow: none;
      color: #555;
      width: 100%;
    }
    .custom-select {
      outline: none !important;
      box-shadow: none !important;
      border-radius: 0;
      color: #555;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      font-family: "Montserrat";
      min-height: 45px;
    }
  }
}
.entry-header {
  background-color: #dd3333;
}
.entry-header {
  padding: 50px 0;
}

.entry-header .entry-title {
  text-align: center;
}

.entry-header .entry-title h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: 700;
  font-size: 50px;
}

.entry-header .entry-title .sub_title {
  margin: 0;
  line-height: 18px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat";
}
.entry-header .entry-title .sub_title,
.entry-header .entry-title h1 {
  color: #fff;
}
.stm_breadcrumbs_unit {
  background-color: #f6f6f6;
  border-bottom: 1px solid #f0f2f5;
}
.stm_breadcrumbs_unit {
    padding: 9px 0 7px;
    margin-bottom: 60px
}

.stm_breadcrumbs_unit .navxtBreads {
    font-size: 11px;
    color: #aaa;
    text-transform: uppercase
}

.stm_breadcrumbs_unit .navxtBreads>span {
    color: #aaa;
    font-size: 11px;
    text-transform: uppercase
}

.stm_breadcrumbs_unit .navxtBreads>span a {
    font-size: 11px;
    color: #aaa
}

.stm_breadcrumbs_unit .navxtBreads>span a:hover {
    color: #dd3333;
}

.stm_breadcrumbs_unit .navxtBreads i {
    font-size: 10px;
    margin: 0 10px;
    color: #dcdcdc
}