.header .header-menu {
  position: sticky;
  z-index: 99;
  top: 0;
  background: #fff;
  padding: 14px 0px 11px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
.header .is-sticky {
  width: 100%;
  position: fixed;
  background: #fff;
  animation: slideDown 0.35s ease-out; }
.header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 12px;
  color: #fff; }
  @media (max-width: 991px) {
    .header .header-nav {
      justify-content: center; }
      .header .header-nav .navbar {
        display: none !important; } }
  .header .header-nav a {
    color: #fff; }
.header .header-contact {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1; }
  .header .header-contact li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 6px; }
    .header .header-contact li i {
      margin-right: 4px;
      font-size: 16px;
      vertical-align: text-bottom; }
    .header .header-contact li:last-child {
      border: 0; }
.header .header-social-icons i {
  margin-left: 4px;
  font-size: 16px;
  vertical-align: text-bottom; }

@keyframes slideDown {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }
.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px; }

.title span {
  color: #fff; }

.sub-title {
  margin: 0 auto 20px;
  text-align: center;
  color: #fff; }

.section1 {
  text-align: center;
  position: relative;
  overflow: hidden; }

.list-item {
  color: #fafaff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 50px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center; }

.list-item .item {
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(45deg, #5472f6 0%, #dd3ef0 100%);
  position: relative;
  padding: 8px 32px 40px; }

.list-item .item::before {
  content: "";
  background: #25223e;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  position: absolute;
  border-radius: 25px;
  z-index: 2; }

.list-item .item * {
  position: relative;
  z-index: 2; }

.list-item .item .item-top {
  margin-bottom: 10px; }

.list-item .item .item-bottom h3 {
  font-size: 1.6em;
  max-width: 390px;
  margin: 0 auto 10px;
  font-weight: bold; }

.list-item .item .item-bottom p {
  letter-spacing: -0.05em;
  line-height: 24px;
  max-width: 376px; }

.list-item .btn-white {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  width: 56px;
  height: 34px;
  position: absolute;
  bottom: -16px; }

.social-media {
  width: 49px;
  text-align: center;
  position: fixed;
  right: 0;
  top: 225px;
  z-index: 98;
  padding: 12px 0; }

.social-media a {
  width: 49px;
  height: 49px;
  border-radius: 10px 0px 0px 10px;
  margin: 1px 0;
  background: linear-gradient(45deg, rgba(84, 114, 246, 0.1) 0%, rgba(221, 62, 240, 0.1) 100%);
  display: inline-block; }

.list-item__3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 35px;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center; }

.list-item__3-column .item {
  padding: 20px 20px 48px;
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  border: 1px solid #ffffff;
  border-radius: 25px;
  position: relative; }

.list-item__3-column .item h3 {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.05em;
  margin-bottom: 10px; }

.list-item__3-column .item p {
  font-weight: 400;
  line-height: 24px; }

.btn-view {
  background: #ffffff;
  border-radius: 10px;
  line-height: 24px;
  padding: 5px 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px; }

.btn-view span {
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.triangled_colored_separator {
  position: relative;
  width: 40px;
  height: 3px;
  margin: 0 auto;
  background-color: #dd3333; }
  .triangled_colored_separator .triangle {
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #dd3333; }

.section2 {
  position: relative;
  margin-top: -80px; }
  .section2 .card {
    position: relative;
    top: 0;
    padding: 30px 32px;
    text-align: left;
    background: #dd3333;
    color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s cubic-bezier(0, 0.01, 0.27, 1); }
    .section2 .card.red-bg {
      background: #dd0000; }
    .section2 .card:hover {
      transition: all 0.3s cubic-bezier(0, 0.01, 0.27, 1);
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
      top: -25px; }
      .section2 .card:hover p {
        opacity: 1; }
    .section2 .card .fa {
      font-size: 50px; }
    .section2 .card h2 {
      line-height: 18px;
      font-weight: 700;
      font-size: 18px;
      font-family: 'Montserrat';
      margin-top: 20px;
      margin-bottom: 10px; }
    .section2 .card p {
      margin-bottom: 10px;
      opacity: .6; }
  .section2 .card-body {
    padding: 0; }
    .section2 .card-body ul {
      padding-left: 20px; }

.section3 {
  padding-top: 32px;
  padding-bottom: 50px;
  background: #eeeeee;
  margin-top: 32px; }
  .section3 .col-in-left {
    background: url(../images/bg-banner.png) no-repeat;
    padding-top: 45px; }
    .section3 .col-in-left img {
      margin-top: 35px; }
    .section3 .col-in-left .card {
      background: transparent; }
  .section3 .col-in-right {
    background: #fff; }
    .section3 .col-in-right .icon_box {
      position: relative;
      top: 0;
      padding: 30px 32px 50px;
      display: flex;
      align-items: flex-start;
      gap: 50px; }
      .section3 .col-in-right .icon_box h3 {
        line-height: 18px;
        font-weight: 700;
        font-size: 18px;
        margin: 0 0 8px; }
    .section3 .col-in-right .icon_box .fa {
      font-size: 50px;
      color: #dd3333; }
    .section3 .col-in-right .icon_box p {
      margin-bottom: 10px;
      opacity: 0.6; }

.section4 {
  background-image: url(../images/bg-banner.png);
  padding: 56px 0 130px;
  background-position: center;
  background-size: cover; }
  .section4 .sub-title {
    margin-bottom: 56px; }

.section3::before {
  display: none; }

.section3 .icon-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  z-index: -1;
  margin-left: 25px; }

.footer {
  border-top: 1px solid #333;
  padding: 80px 0;
  position: relative;
  overflow: hidden; }

.footer h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 90px; }

.footer h2 span {
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.list-item__footer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
  column-gap: 16px;
  row-gap: 50px; }

.list-item__footer h4 {
  background: linear-gradient(90deg, #5472f6 0%, #dd3ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  letter-spacing: -0.05em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px; }

.list-item__footer p {
  opacity: 0.5;
  line-height: 24px; }

.footer .copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  margin-top: 90px;
  text-align: center; }

.footer .icon-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9; }

.footer:before {
  content: "";
  background: radial-gradient(49.8% 49.95% at 40.28% 59.25%, #ffffff 0%, rgba(247, 247, 247, 0.97) 2%, rgba(190, 190, 190, 0.74) 13%, rgba(139, 139, 139, 0.54) 25%, rgba(96, 96, 96, 0.38) 37%, rgba(61, 61, 61, 0.24) 49%, rgba(34, 34, 34, 0.14) 62%, rgba(15, 15, 15, 0.06) 74%, rgba(4, 4, 4, 0.01) 87%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: color-dodge;
  mix-blend-mode: color-dodge;
  transform: matrix(0.58, 0.62, -1.5, 2.5, 0, 0) skewY(346deg);
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 6px;
  width: 475px;
  margin: 0 auto; }

.navbar-toggler i {
  font-size: 32px;
  color: #dd3333; }

.navbar-nav li.nav-item {
  padding: 0 14px 14px 14px; }
  .navbar-nav li.nav-item.current a.nav-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 10;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0px 3px 3px;
    border-color: transparent transparent #dd3333; }
  .navbar-nav li.nav-item.current a.nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    margin-bottom: -9px;
    bottom: -10px;
    height: 3px;
    background-color: #dd3333;
    z-index: 18; }
.navbar-nav .dropdown-menu {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #777777;
  background-color: white;
  border-color: #dddddd;
  border-radius: 0;
  padding: 10px;
  min-width: 220px;
  border: 0;
  border-top: 3px solid #dd3333; }
  .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 13px;
    font-weight: 400;
    z-index: 15;
    color: #000;
    text-transform: uppercase;
    font-family: "Montserrat";
    margin-bottom: 5px; }
    .navbar-nav .dropdown-menu .dropdown-item:last-child {
      border: 0; }
    .navbar-nav .dropdown-menu .dropdown-item:hover {
      color: #dd3333;
      background-color: transparent; }
.navbar-nav .nav-link {
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding: 0;
  font-family: Montserrat; }

.btn-primary {
  color: #fff;
  background-color: #dd3333;
  border-color: #dd3333; }

.text-primary {
  color: #dd3333 !important; }

.search-form .dropdown-menu {
  right: 0;
  left: auto; }
.search-form .form-inline {
  display: flex;
  flex-flow: row;
  padding: 5px 15px; }
  .search-form .form-inline .form-control {
    display: flex; }
.search-form .btn-search {
  background: #dd3333;
  color: #fff; }
.search-form .search-toggle {
  background: #fff;
  width: 36px;
  height: 36px;
  color: #dd3333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border: 3px solid #dd3333; }
  .search-form .search-toggle::after {
    display: none; }

.carousel .btn-control {
  width: 36px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
  border: 2px solid;
  font-weight: 100;
  padding: 8px;
  border-radius: 50%; }
  .carousel .btn-control:hover {
    background: #dd3333;
    border-color: #dd3333; }
.carousel .carousel-indicators {
  bottom: 20px; }
  .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 6px; }
.carousel img {
  max-height: 494px;
  object-position: top;
  object-fit: cover; }

.carousel-caption {
  color: #fff;
  text-align: left;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  max-width: 670px; }
  .carousel-caption h3 {
    margin: 0; }
  .carousel-caption p {
    color: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 1em; }

.btn-outline {
  border: 2px solid #dd3333;
  background-color: transparent;
  line-height: 2.19em;
  text-transform: uppercase;
  font-weight: bold;
  color: #dd3333;
  border-radius: 0;
  padding: 0 18px; }
  .btn-outline:hover, .btn-outline:focus {
    background-color: #dd3333;
    color: #fff; }

.card1 {
  background-color: #004e9e;
  padding: 15px 15px 15px 15px;
  color: #fff;
  border-radius: 20px;
  text-align: center; }
  .card1 .box-img img {
    height: 159px;
    margin: 0 auto 20px;
    object-fit: contain; }
  .card1 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .card1.card2 {
    background-color: #00a292; }
  .card1.card3 {
    background-color: #dd3333; }

.container {
  max-width: 1170px !important; }

@media (max-width: 991px) {
  .offcanvas.offcanvas-start {
    background-color: #fff;
    transition: transform 0.2s;
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 5000;
    width: 260px !important; }
    .offcanvas.offcanvas-start .navbar-nav {
      margin-left: 0 !important; }
      .offcanvas.offcanvas-start .navbar-nav .search-form {
        padding: 0; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .search-toggle {
          display: none; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .dropdown-menu {
          display: block;
          padding: 0; }
        .offcanvas.offcanvas-start .navbar-nav .search-form .form-inline {
          display: flex;
          flex-flow: row;
          padding: 0;
          padding: 40px 15px 0 0 !important;
          margin: 0 !important; }
          .offcanvas.offcanvas-start .navbar-nav .search-form .form-inline .form-control {
            width: 100%; }
      .offcanvas.offcanvas-start .navbar-nav li.nav-item {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #ececec;
        width: 100%;
        padding-left: 20px; }
      .offcanvas.offcanvas-start .navbar-nav .nav-link {
        font-size: 16px;
        font-weight: 400; }
        .offcanvas.offcanvas-start .navbar-nav .nav-link:hover {
          color: #dd3333; }
        .offcanvas.offcanvas-start .navbar-nav .nav-link::after, .offcanvas.offcanvas-start .navbar-nav .nav-link::before {
          display: none !important; }
      .offcanvas.offcanvas-start .navbar-nav .dropdown-menu {
        width: 100%;
        border-width: 0;
        background: transparent;
        box-shadow: none;
        padding: 0 15px; } }
.section6 h2 {
  border-bottom: 3px solid #dd9000;
  padding-bottom: 16px;
  margin-bottom: 16px; }
.section6 .item-content {
  padding: 15px; }
  .section6 .item-content img {
    height: 100px;
    object-fit: contain; }
.section6 .owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  transform: translateY(-50%); }
  .section6 .owl-theme .owl-nav .owl-prev {
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    left: 2%; }
  .section6 .owl-theme .owl-nav .owl-next {
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
    right: 2%; }
  .section6 .owl-theme .owl-nav [class*="owl-"] {
    width: 36px;
    height: 36px;
    margin: 0 40px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    font-weight: 100;
    padding: 8px;
    border-radius: 50%;
    background: transparent;
    color: rgba(0, 0, 0, 0.02);
    font-size: 24px;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s, background 0.3s, box-shadow 0.3s; }
    .section6 .owl-theme .owl-nav [class*="owl-"]:hover {
      background: #dd3333;
      border-color: #dd3333;
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
